# Intro to iPython and Python Review

This week you will set up your install enviornment and practice using iPython notebooks. This will also be an each introduction into presenting solutions to students in class.

#### 1. Print two sentences.  Use only one print statement to do it and use the newline escape character between the two sentences. It should (without quotes) read.   
"My name is (your name).    
I am a student at North Seattle College."

In [1]:
name = "Elton"
print(f"My name is {name}.\nI am a student at North Seattle College.")

My name is Elton.
I am a student at North Seattle College.

#### 2. Define a variable called phone and insert a phone number without dashes. Print out    
"My phone number is (phone number here)"

In [2]:
phone = 8087219463
print(f"My phone number is {phone}")

My phone number is 8087219463

#### 3. Be sure to use the f functionality of printing. Save in a variable called phone a phone number with dashes and another variable with your name in it. Print out    
"Hello my name is (your name) and my phone number is (phone number with dashes)"

In [3]:
phone_dashes = "808-721-9463"
print(f"Hello my name is {name} and my phone number is {phone_dashes}")

Hello my name is Elton and my phone number is 808-721-9463

#### 4. Create variables for the month and year you will graduate in one line. 
#### Using the variables print out "I graduate in (month) of (year)."
Don't forget the period.

In [2]:
month_grad, year_grad = "June", 2027
print(f"I graduate in {month_grad} of {year_grad}.")

I graduate in June of 2027.

### Mathematical

#### 5. Create a variable called ans and into it save the solution to 12 times 5 minus 3 divided by 2. Be sure you write in exactly that order. Print ans. Now write a comment underneath explaining what the TYPE of ans is at the end.

In [6]:
ans = 12 * 5 - 3 / 2
print(ans)
print("This answer is a float data type.")

58.5
This answer is a float data type.

### Decision Structures

#### 6. Create a variable to hold the string "October". Now write an if/else statement that tests if that variable says "October". If it does, print "31 days". If it does not, print "30 days"

In [7]:
month = "October"
print("31 days") if month == "October" else print("30 days")

31 days

#### 7. Create a variable and save 140 into it. Now create a decision structure using if, elif and else that does the following:    
If the number is greater than 150, print "greater than 150"   
If the number if greater than 100 but less than 151, print "between 100 and 150"   
If the number is less than 100, print "less than 100"

In [ ]:
num1 = 140
if num1 > 150:
    print("greater than 150")
elif num1 > 100:
    print("between 100 and 150")
elif num1 < 100:
    print("less than 100")
# We don't accounnt for num1 being exactly 100

between 100 and 150

#### 8. Create a variable to hold the number 70. Now create two if statements:
#### 1st: if the number is divisible by 5 and by 10, then print "Number is divisible by 5 and 10."    
#### 2nd: if the number is divisible by 7 or by 2, then print "Number is divisible by 7 or by 2"

In [ ]:
num2 = 70
if num2 % 5 == 0 and num2 % 10 == 0:
    print("Number is divisible by 5 and 10.")
if num2 % 7 == 0 or num2 % 2 == 0:
    print("Number is divisible by 7 or by 2")

number is divisible by 5 and 10.
number is divisible by 7 or by 2

#### 9. Create a FOR loop that prints the numbers 1 through 100 that are divisible by 7.

In [13]:
for i in range(1, 101):
    if i % 7 == 0:
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

#### 10. Use a while loop to print all numbers from 1 to 10 which are divisible by 3. Print the numbers next to each other with a space in between them. Use a while loop and if statement. Sum up the numbers and printt he sum on a new line.

In [15]:
nums_list = []
sum = 0
for i in range(1, 10):
    if i % 3 == 0:
        nums_list.append(str(i))
        sum += i
print(' '.join(nums_list))
print(sum)

3 6 9
18

#### 11. You will be creating a nested loop like we did in class but with a twist. Ultimately, you want 5 sets to print, each one with the output "Set : (set number)" each time a new set is looped into. Then before you print all the numbers in that set, you want to test if the number is divisible by 2. If it is, print a string 5 times that looks like this: "Student (number)".  So it would have 5 sets... some of them would have strings printed in them, some would not. The ones that would have strings in them would show output like:
"    
Set: 1    
Set: 2    
Student 1    
Student 2    
Student 3    
Student 4    
Student 5    
Set: 3     
..."

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = set(set1)
set3 = set(set1)
set4 = set(set1)
set5 = set(set1)

for i in range(1, 6):
    print(f"Set: {i}")
    if i % 2 == 0:
        for j in globals()["set" + str(i)]:
            print(f"Student {j}")

Set: 1
Set: 2
Student 1
Student 2
Student 3
Student 4
Student 5
Set: 3
Set: 4
Student 1
Student 2
Student 3
Student 4
Student 5
Set: 5

#### 12. Create a variable called school to hold the string "Hogwarts". Create two more variables, the first (call it first) and it will slice out the "Hog" and the other (call it second) will slice out the "warts" from the first variable. (Do not just save the strings "Hog and "warts" into these two variables!) Now print first and second and then print the last letter of school.

In [ ]:
school = "Hogwarts"
first = school[:3]
second = school[3:]
print(first + second)
print(school[-1])

Hogwarts
s

#### 13. Create a list called chars and save these strings in: Thor, She-Hulk, Loki.  Now use a FOR loop to print each item as a concatenation of the string: " is a character in the Marvel Cinematic Universe.."  So the output will be:
Thor is a character in the Marvel Cinematic Universe.
She-Hulk is a character in the Marvel Cinematic Universe.
Loki is a character in the Marvel Cinematic Universe.

In [30]:
chars = ["Thor", "She-Hulk", "Loki"]
for char in chars:
    print(f"{char} is a character in the Marvel Cinematic Universe.", end = ' ')

Thor is a character in the Marvel Cinematic Universe. She-Hulk is a character in the Marvel Cinematic Universe. Loki is a character in the Marvel Cinematic Universe.

#### 14. Create a nested list called months. It will be a list with 6 lists within it. In each nested list will be the name of a month as a string and then the number of days it has. Create this using the first 6 months. Now use a loop with range and len function to print the following string format on each iteration:    
"January has 31 days"  .... (month name) has (month days) days.

In [5]:
months = [["January", 31], ["February", "28.25"], ["March", 31], ["April", 30], ["May", 31], ["June", 30]]
for i in range(len(months)):
    print(f"{months[i][0]} has {months[i][1]} days.")

January has 31 days.
February has 28.25 days.
March has 31 days.
April has 30 days.
May has 31 days.
June has 30 days.

#### 15. Create a dictionary called dog that hold the data below. Print it. Then print the value of the Breed key. Then use the values in the dictionary to print out the string: "The Corgi is expected to live about 13 years."    
Data:     
Breed = Corgi   
Age Exp. = 13   
Type = Cattle herding

In [6]:
dog = {"Breed": "Corgi", "Age Exp.": 13, "Type": "Cattle herding"}
print(dog)
print(dog["Breed"])
print(f"The {dog["Breed"]} is expected to live about {dog["Age Exp."]} years.")

{'Breed': 'Corgi', 'Age Exp.': 13, 'Type': 'Cattle herding'}
Corgi
The Corgi is expected to live about 13 years.

#### 16. In an external file named AD450_math create a function called `add` that adds two numbers together. Import the function from the module and use it to output the result of 2 + 2.

In [34]:
import AD450_math

AD450_math.add(2,2)

4

#### 17. Next do the following:
1. Run the first cell with `AD450_math.multiply(2, 2)`. Confirm the function does exist in your module. You'll leave this error in your submission.
2. Write the code for `multiply` in `AD450_math`.
3. Add code to the next cell to reload the module. You must do this without restarting your notebook.
4. Run the final cell with the reloaded module.

In [35]:
# Cell with import error
AD450_math.multiply(2, 2)

AttributeError: module 'AD450_math' has no attribute 'multiply'

In [9]:
# Reload cell
import importlib
importlib.reload(AD450_math)

In [10]:
# Cell with correct output 
AD450_math.multiply(2, 2)

4

#### 18. Complet the following steps:
1. Create a variable `a = 1`
2. In another cell print out the value stored in `a`
3. Set `a = 4`
4. Rerun the cell that printed out `a` in step 2
5. Explain in class what happened any why this could lead to issues when working with notebooks

In [51]:
# Create a
a = 1

In [54]:
# Print a
print(a)

4

In [11]:
# Set a to 4
a = 4

## When we set a to 4, we overwrite the previous value of a which was 1.